
@font-face {
  font-family: x;
  src: url("font/.woff2") format("woff2"), url("Fonts/.woff") format("woff");
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body{
  font-family: Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

.nav-menu ul li {
  list-style-type: none;
  padding: 0 0 0.2em 0.2em;
}

:root {
  --clr-black: black;
  --clr-white: white;
  --font-size-s: 2rem;
  --flow-space: 2.5rem;
  --font-text: "x";
  --ball: 0.5rem;
}


@media only screen and (min-width: 1900px) and (min-height: 1000px){
  :root {
  }
}

@media only screen and (max-width: 768px) {
  :root {
  }
}

body {
  background-color: var(--clr-white);
  font-family: var(--font-text);
  font-size: var(--font-size-s);
  width: 100vw;
  height: 100vh;
}

body a {
  color: inherit;
}

body i {

}

header {
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 9999 !important;
}

.nav-up {
  top: -15vh;
}

@media only screen and (max-width: 768px) {
  .nav-up {
    top: -23vh;
  }
}

nav{
  display: flex;
}

li {
  padding:1em;
}