.wrapper {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 var(--flow-space) 0 var(--flow-space);
    height:100vh;
    overflow: hidden;
  }

  .first-pane {
    grid-column: 1;
    grid-row: 1;
    margin-top: var(--flow-space-top);
    overflow: hidden;
    height:100%;
}

.second-pane {
  grid-column: 2;
  grid-row: 1;
  margin-top: var(--flow-space-top);
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height:80vh;
    overflow: scroll;

}


.left-inpane {
    grid-column: 1;
    grid-row: 1;

}

.right-inpane {
    grid-column: 2;
    grid-row: 1;

}

.left-inpane ul{
    padding: 0 var(--flow-space) 0 var(--flow-space);
    font-size: var(--font-size-xs);
    }

.artists-title-name{
    text-align: left;
    margin-left: var(--flow-space);
    width:100%;
    font-size: var(--font-size-s);
    display: grid;
    bottom:0;
    position: fixed;
}

.artists-title-name:hover{
    text-decoration: underline;
}


#references{
    text-decoration: underline;
}

img{
width:100%;   
}

/* .image{
    position: fixed;
} */

.album-decription{
    font-size: var(--font-size-xs);
    font-family: var(--font-family-text);
}

p + p {
    display: block;
    margin-bottom: var(--font-size-xs);
}

p2{
    font-size: var(--font-size-s);
    font-family: var(--font-family-text);      

}

li + li{   
    margin-bottom: var(--font-size-s);
}

.links{
    font-size: var(--font-size-xs);
    font-family: var(--font-family-text); 
}

.links a{
    display: block;
}


  
 
  
