.wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

  }

.first-pane {
  grid-column: 1;
  grid-row: 1;
}

.mid-pane {
    grid-column: 2;
    grid-row: 1;
}

.last-pane {
    grid-column: 3;
    grid-row: 1;
}




.artists-title-name{
    text-align: center;
    padding: var(--flow-space) 0;
    width:100%;
    font-size: var(--font-size-s);
    display: grid;
    bottom:0;
    position: fixed;
}

.artists-title-name:hover{
    text-decoration: underline;
}

figcaption{

}



#references{
    text-decoration: underline;
}

.image{
    margin-top: var(--flow-space-top);
    z-index: -1;
    position: absolute;
    left:var(--flow-space)
}

.album-decription a {
    display: block;
}

img{
    width:50vw; 
}

.album-decription{
    font-size: var(--font-size-xs);
    font-family: var(--font-family-text);
}

p {
    display: block;
    padding-bottom: var(--font-size-s);
}


  
 
  
