.artists-title-name{
    text-align: center;
    padding: var(--flow-space) 0;
    width:100vw;
    font-size: var(--font-size-s);
    display: grid;
    bottom:0;
    position: absolute;
}

.artists-title-name:hover{
    text-decoration: underline;
}

figcaption{
    position: fixed;
}

.popuptext{
    width:100vw;
}

.popuptext li{
padding-bottom:var(--font-size-xs);
}

.popup .popuptext {
    width: 60vw;
    bottom: 20vh;
    left: -60vw;

}

#references{
    text-decoration: underline;


}

.image{
    margin-top: var(--flow-space-top);
    z-index: -1;
    position: absolute;
    left:var(--flow-space)
}

.album-decription a {
    display: block;
}

img{
    width:50vw; 
}

.album-decription{
    margin-top: var(--flow-space-top);
    padding-right: var(--font-size-m);
    position: absolute;
    padding-left: var(--font-size-l);
    font-size: var(--font-size-xs);
    font-family: var(--font-family-text);
}
p {
    display: block;
    padding-bottom: var(--font-size-s);
}

.wrapper {
    height: 100%;
    text-align: left;
  }
  
  
  .left-pane {
    width: 48%;
    display: inline-block;
    overflow-y: scroll;
  }
  
  .right-pane {
    margin-top: 0px;
    width: 48%;
    display: inline-block;
    overflow-y: scroll;
  }
  
  .content-block {
    width: 50%;
    display: inline-block;
  }
  
  
  .content-block img
  {
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
  }
  