 /* ticker */

 #ticker{
    bottom:20px;
    white-space:nowrap;
  }

#ticker-container {
    position: fixed;
    width:100%;
    bottom:0;
    padding-bottom:var(--margin-m);
    }

#ticker-text {
    color:var(--color-6);
    padding: 0 var(--margin-s) 0 var(--margin-s); 
    font-size: var(--font-size-m-l);
    text-transform: uppercase;
}
